#root {
  max-width: 1280px;
  margin: 5% 10% 5% 10%;
  padding: 0px 25px 0px 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cont1 {
  width: 80%;
  padding: 10px 25px 10px 25px;
  display: flex;
  flex-direction: column;
}

.cont2 {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

